body {
    margin-top: 0;
    background-color: #efefef;
}
       
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    height: 1px;
    background: #000000;
    border: 0;
}

label, 
input[type="radio"],
input[type="checkbox"]{
    cursor: pointer;
}

div.main {
    width: 1000px;
    margin-left: auto; 
    margin-right:auto;
    margin-top: 0px;
    position: relative;
    font-family: calibri;
}

div.main2 {
    width: 1000px;
    left: 0; 
    right:0;
    top: 0px;
    margin: auto;
    position: fixed;
    font-family: calibri;
}

div.top {
    position: absolute;
    height: 139px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1b9a87;
}

div.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.6;
    visibility: hidden;
    z-index: 1000;
}

div.helpBox {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: white;
    font-family: calibri;
    border: #1b9a87 solid 2px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #808080;
    padding: 10px;
    line-height: 115%;
    visibility: hidden;
    z-index: 1050;
}

div.panel {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #808080;
}

div.closeImg{
    position: absolute; 
    right: 5px;
    top: 5px;
    cursor: pointer; 
    width: 16px; 
    height: 16px; 
    background: url(../../images/close.png) no-repeat;
    opacity: 0.5;
}

div.closeImg:hover{
    opacity: 1;
}

